$fonts: 'Jost', sans-serif;
$background-primary: linear-gradient(151deg, rgba(10,9,38,1) 0%, rgba(12,27,62,1) 0%, rgba(24,40,101,1) 40%, rgba(27,42,97,1) 43%, rgba(29,43,97,1) 43%, rgba(27,42,99,1) 46%, rgba(25,41,102,1) 51%, rgba(23,40,104,1) 54%, rgba(21,38,107,1) 59%, rgba(12,9,57,1) 91%, rgba(7,19,69,1) 100%, rgba(0,26,130,1) 100%) no-repeat;
$button-color: linear-gradient(253deg, rgba(113, 132, 253, 1), rgba(63, 122, 240, 1), rgba(79, 55, 238, 1) 100%);
$button-shadow: 5px 8px 10px #00000029;
$font-medium: 600;
$heading-color: #2D83EE;
$h3-size: 40px;
$para-size: 18px;
